
.slide-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rest-centered {
  margin: auto;
}

.framing-title {
  margin-top: 80px;
}

code {
  max-height: 335px;
}

img.standalone-image.framing {
  align-self: flex-start;
  width: 88%;
  position: absolute;
}

.row.img-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-row img {
  align-self: flex-start;
}

.bottom-aligned-image {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  z-index: 3;
}

.text-centered {
  text-align: center;
}

.wave {
  z-index: 1;
}

.chapter-heading {
  z-index: 1;
  text-align: center;
}

.chapter-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.row.space-evenly {
  justify-content: space-evenly;
}

.vertical-center {
  height: 335px;
  align-items: center;
}

.row h2 {
  z-index: 2;
}

.white {
  color: #fff;
}

.contact-cards {
  justify-content: center;
  margin-top: 40px;
}

.contact-cards .card {
  margin: auto;
}

.combobo-demo {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

label {
  display: block;
  margin-right: 5px;
}

.combobox,
.combobox-multi {
  width: 250px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  color: #212E59;
}

.listbox,
.listbox-multi {
  display: none;
  position: absolute;
  top: 41px; /* the height of the input */
  left: 135px;
  width: 250px;
  box-sizing: border-box;
  padding: 0;
  background: #fff;
  z-index: 99;
  text-align: left;
  box-shadow: 0 3px 12px #000;
  max-height: 250px;
  overflow-y: auto;
}

.listbox.open,
.listbox-multi.open {
  display: block;
}

.listbox .option,
.listbox-multi .opt {
  padding: 4px 6px;
  cursor: default;
  transition: all 350ms;
}

.listbox .option.selected,
.listbox-multi .opt.selected {
  color: #fff;
  background-color: forestgreen;
  transition: all 350ms;
}

.listbox .option.active,
.listbox-multi .opt.active {
  color: #fff;
  background-color: #212E59;
  transition: all 350ms;
}

.listbox .underline,
.listbox-multi .underline {
  text-decoration: underline;
}

.optgroup-label {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 5px solid;
}

.option .match {
  border: 1px solid;
}

.ok {
  display: block;
  margin: 10px auto;
  border: none;
  background: #0077C8;
  color: #fff;
  padding: 5px 20px;
  box-shadow: 0 0 1px #000;
  transition: all 600ms;
}

.ok:focus {
  transition: all 600ms;
  background: #000;
}

.ok:active {
  border-radius: 8px;
  transition: all 600ms;
  background: #fff;
  color: #0077C8;
}

.large-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #87bbe4;
  margin-top: 20px;
}

.profile-text {
  margin-top: 10px;
  margin-bottom: 0;
}

.interactive {
  text-align: center;
}

.interactive .row {
  justify-content: space-between;
}

.interactive pre {
  text-align: left;
  max-width: 48%;
  font-size: 10px;
  flex: 1;
}

.interactive code {
  height: 165px;
}
