body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #eee;
}

.bob {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

.two-col {
  width: 50%;
  padding: 0 5%;
  float: left;
}

.two-col img {
  max-width: 100%;
}

.profile h3, .profile p {
  text-align: center;
}

.title-slide {
  margin-bottom: 0;
  margin-top: 2em;
}

.title-centered {
  text-align: center;
  min-width: 200px;
}

.contact-cards {
  width: 400px;
  display: block;
  float: left;
  margin-bottom: 30px;
  margin-left: 80px;
}

.contact-cards img {
  float: left;
}

.contact-text {
  display: block;
  float: left;
  padding: 15px 0 0 20px;
}

.align-right {
  text-align: right;
  padding-right: 50px;
}

.align-left {
  text-align: left;
  padding-left: 50px;
}

.white-text {
  color: #fafafa;
}

.bottom-aligned-image {
  position: fixed;
  bottom: 20px;
}

.image-space {
  padding-bottom: 170px;
}

.background-image {
  z-index: -10000;
  position: absolute;
  top: 0;
  left: 0;
}

.img-opacity {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* so that every slide has a high-level heading */
.title-offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bob-demo .bob-content {
  margin-top: 0 !important;
}

* {
  box-sizing: border-box;
}

p {
  margin: 3px 0;
}

pre {
  text-align: left;
  overflow: auto;
}

.bob pre code {
  display: inline-block;
  text-align: left;
  max-height: 285px;
}

.bob h3 {
  margin: 3px 0;
}

.bob .rsp p {
  font-style: italic;
  margin: 0;
}

.bob .rsp h3, .bob .rsp p {
  display: inline;
}

.foot-note {
  font-size: 14px;
  font-style: italic;
}

.at-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.at-images img {
  width: 130px;
  padding: 5px;
}

ul li a {
  margin-left: 3px;
}

.bob h2.large {
  font-size: 44px;
}

.bob .key {
  font-size: 16px;
}

.inline-code {
  background: #F0F0F0;
  padding: 2px;
  font-family: monospace;
}


/* highlightjs overrides for contrast */
.bob .hljs-comment {
  color: #686868;
}

.flex-list .flexr {
  justify-content: flex-start;
}

.toggle-button {
  padding: 5px;
  border: 1px solid;
  background: #eee;
  margin: 9px 0;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
}

.toggle-button[aria-pressed="true"] {
  background: #000 !important;
  color: #fff;
}

.better-worse pre {
  margin: 0;
}

.quote {
  font-style: italic;
}

.with-inline-code li {
  line-height: 24px;
}

.mono {
  font-family: monospace;
}

.eb {
  display: block;
  margin: 0 auto;
}
